<html lang="en" itemscope itemtype="http://schema.org/Article">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Great New Static Site</title>
<meta name="description" content=""/>

<!-- all CSS goes inside the build block so useref knows about it -->
<!--build:css css/main.css -->
<link rel="stylesheet" href="/css/bootstrap.css">
<!-- endbuild -->
